@model eSportSchool.Pages.AddressesPage
@using eSportSchool.Pages.Extensions

<body>
    @Html.MyEditorFor(m => m.Item.Street)
    @Html.MyEditorFor(m => m.Item.City)
    @Html.MyEditorFor(m => m.Item.ZipCode)
    @Html.MyEditorFor(m => m.Item.Region)
    @Html.MyEditorFor(m => m.Item.Country)
</body>