
@{
    ViewData["SubTitle"] = Model?.GetType()?.Name?.Replace("Page", string.Empty) ?? "Unspecified";
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
    var itemId = Model?.ItemId?? string.Empty;  
    var token = Model?.Token?? string.Empty;  
    var errorMessage = Model?.ErrorMessage?? string.Empty;  
}

<h1>@ViewData["Title"]</h1>

<p class="text-danger">@errorMessage</p>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@ViewData["SubTitle"]</h4>
    <hr />

    @RenderBody()
    
    <form method="post" 
        asp-route-id="@itemId"
        asp-route-token="@token"
        asp-route-handler="Delete"
        asp-route-order="@Model?.CurrentOrder"
        asp-route-idx="@Model?.PageIndex" 
        asp-route-filter="@Model?.CurrentFilter"
    >
       <input type="submit" value="Delete" class="btn btn-danger" /> 
        
        <a style="text-decoration:none;"  asp-page="Index" 
           asp-page-handler="Index" 
           asp-route-order="@Model?.CurrentOrder"
           asp-route-idx="@Model?.PageIndex" 
           asp-route-filter="@Model?.CurrentFilter"
        >Back to List</a>
    </form>
</div>