
@{
    ViewData["SubTitle"] = Model?.GetType()?.Name?.Replace("Page", string.Empty) ?? "Unspecified";
    ViewData["Name"] = "Details";
    Layout = "_Layout";
    var itemId = Model?.ItemId?? string.Empty;  
}

<h1>@ViewData["Name"]</h1>

<div>
    <h4>@ViewData["SubTitle"]</h4>
    <hr />
    @RenderBody()

</div>
<div>
    <a asp-page="./Edit" 
       asp-page-handler="Edit" 
       asp-route-id="@itemId"
       asp-route-order="@Model.CurrentOrder"
       asp-route-idx="@Model.PageIndex" 
       asp-route-filter="@Model.CurrentFilter"
    >Edit</a> 

    <a asp-page="Index" 
       asp-page-handler="Index" 
       asp-route-order="@Model.CurrentOrder"
       asp-route-idx="@Model.PageIndex" 
       asp-route-filter="@Model.CurrentFilter"
    >Back to List</a>
</div>