@model eSportSchool.Pages.Party.SportTeamsPage
@using eSportSchool.Pages.Extensions

<body>
    @Html.MyDropDownFor(x => x.Item.OwnerId, Model.Trainers)
    @Html.MyEditorFor(m => m.Item.Title)
    @Html.MyDropDownFor(x => x.Item.SportId, Model.Sports)
    @Html.MyEditorFor(m => m.Item.CreatedDate)
    @Html.MyEditorFor(m => m.Item.Description)
</body>